.heading-font {
  color: grey;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.rotated-icon {
  transform: rotate(20deg);
}

#root, html {
  background-color: rgb(201, 205, 206);
  min-height: 100vh;
}

.task-table td:nth-of-type(2) {
  width: 30%;
}

body {
  padding-right: 0!important;
}
